@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  max-width: 87em;
  margin: 0px auto;
}

.wrapper .header {
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrapper .header__logo {
  padding-top: 10px;
}

.wrapper .header__menu {
  color: #646667;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  text-transform: uppercase;
  padding-left: 21.7em;
}

.wrapper .header a {
  text-decoration: none;
  color: #646667;
}

.wrapper .header span {
  position: relative;
  top: 3px;
  padding-left: 9px;
}

.wrapper .header__menu__link {
  padding: 0 1em;
}

.wrapper .main__item {
  position: relative;
  height: 411px;
}

.wrapper .main__item__photo {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper .main__item__photo::after {
  transform: rotate(18.2deg);
  content: '';
  position: absolute;
  width: 412px;
  height: 140%;
  left: 0;
  top: 0;
  background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
  -webkit-transform: rotate(18.2deg);
  -moz-transform: rotate(18.2deg);
  -ms-transform: rotate(18.2deg);
  -o-transform: rotate(18.2deg);
  left: -50px;
  top: -80px;
}

.wrapper .main__item__text {
  position: absolute;
  bottom: 80px;
  left: 400px;
  width: 770px;
  height: 85px;
  text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  z-index: 1;
}

.wrapper .container__text {
  max-width: 65em;
  margin: 0px auto;
  text-align: center;
}

.wrapper .container__text__item {
  margin-top: 48px;
  color: #646667;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  padding-right: 3%;
}

.wrapper .container__text__button {
  display: inline-block;
  padding: 0 30px;
  margin-top: 46px;
  background-color: #007397;
  width: 370px;
  height: 56px;
  line-height: 56px;
  color: #ffffff;
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
}

.wrapper .container__text__button__button__text {
  margin-top: 1.3em;
}

.wrapper .stat {
  margin-top: 100px;
}

.wrapper .stat__title {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.wrapper .stat__text {
  width: 670px;
  height: 102px;
  color: #646667;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  opacity: 0.9;
}

.wrapper .stat .stat__item__block {
  padding-top: 48px;
  display: inline-block;
  padding-right: 7%;
  padding-left: 15px;
}

.wrapper .stat .stat__item__block__stat {
  color: #007397;
  font-family: "PT Serif - Regular";
  font-size: 54px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper .stat .stat__item__block__text {
  color: #aec3d4;
  font-family: "Montserrat - Regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 32px;
  text-align: center;
}

.wrapper .stat .btn2 {
  display: inline-block;
  padding: 0 30px;
  margin-top: 48px;
  background-color: #007397;
  width: 270px;
  height: 56px;
  line-height: 56px;
  color: #ffffff;
  line-height: 16px;
  font-size: 16px;
  font-weight: 700;
}

.wrapper .stat .btn2 .btn2__text {
  text-align: center;
  margin-top: 1.3em;
}

.wrapper .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 100px;
}

.wrapper .news__header {
  color: #3c3f3d;
  font-family: "PT Serif";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  text-transform: uppercase;
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
}

.wrapper .news__menu {
  color: #d3cfce;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .news__menu__news {
  padding-right: 66px;
}

.wrapper .news__menu__prerel {
  width: 147px;
  height: 32px;
  padding-right: 66px;
}

.wrapper .news span {
  width: 35px;
  height: 16px;
  color: #007397;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.wrapper .section__card {
  margin-top: 48px;
}

.wrapper .card__item {
  width: 370px;
}

.wrapper .card__item__image {
  position: relative;
  height: 370px;
}

.wrapper .card__item__image__img {
  overflow: hidden;
  position: absolute;
  width: 370px;
  height: 370px;
  top: 0;
  left: 0;
}

.wrapper .card__item__image__img::after {
  transform: rotate(22.2deg);
  content: '';
  position: absolute;
  width: 412px;
  height: 138%;
  left: 0;
  top: 0;
  background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
  -webkit-transform: rotate(22.2deg);
  -moz-transform: rotate(22.2deg);
  -ms-transform: rotate(22.2deg);
  -o-transform: rotate(22.2deg);
  left: -120px;
  top: -110px;
}

.wrapper .card__item__title {
  position: absolute;
  bottom: 320px;
  left: 50px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
}

.wrapper .card__item__subtitle {
  position: absolute;
  bottom: 72px;
  width: 310px;
  left: 50px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
  z-index: 1;
}

.wrapper .card__item__text {
  padding-top: 32px;
  color: #646667;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

.wrapper .card__item__text__undtext {
  padding-top: 38px;
  color: #007397;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}
